<a href="https://colab.research.google.com/github/EddiRafael/Clase_desarrollo_proyectos/blob/main/2_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importamos librerias 
import pandas as pd
import numpy as np
import matplotlib as plot

In [ ]:
#cargar archivo csv desde equipo 
from google.colab import files 
files.upload()

In [ ]:
#carga desde un archivo .csv sin indice 
data=pd.read_csv('inmuebles2.csv')
data.head(5)

In [ ]:
#eliminar primera fila o filas innecesarias 
data1= pd.read_csv('inmuebles2.csv', skiprows=1, low_memory=False)
data1

In [8]:
#eliminar columnas innecesarias 
data2= data1.drop(['0','Referencia'], axis=1)
data2

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,NaN,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María
...,...,...,...,...,...,...,...,...
3332,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.0,1450644.0,NaN,NaN
3333,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.0,454080.0,NaN,NaN
3334,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78.0,740688.0,NaN,NaN
3335,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.0,397408.0,NaN,NaN
3336,2007-04-30 00:00:00,Parking,Venta,Lleida,NaN,2140712.0,NaN,NaN

In [ ]:
#identificar valores nulos por columna 
valores_nulos= data2.isnull().sum()
valores_nulos

Metodos de sustitucion de valores nulos

In [12]:
#Realizamos una copia del dataframe
data3= data2.copy()

In [13]:
#Primer metodo de sustitucion por valores nulos
#Sustituir valors nulos con promedio o media 
data3["Superficie"]=data3["Superficie"].fillna(round(data2["Superficie"].mean(),1))

In [ ]:
#Corroboramos valores nulos 
valores_nulos= data3.isnull().sum()
valores_nulos

In [ ]:
#segundo metodo de sustitucion de valores nulos
#Sustituir valors nulos con mediana
data3["Precio Venta"]=data3["Precio Venta"].fillna(round(data2["Precio Venta"].mean(),1))
data3

In [ ]:
#Corroboramos valores nulos 
valores_nulos= data3.isnull().sum()
valores_nulos

In [ ]:
#tercer metodo de sustitucion por valores nulos 
#sustituir valores nulos por un valor numerico en concreto 
data3["Fecha Alta"]= data3["Fecha Alta"].fillna(10)
data3

In [ ]:
#Corroboramos valores nulos 
valores_nulos= data3.isnull().sum()
valores_nulos

In [ ]:
#Cuarto metodo de sustitucion por valores nulos 
#sustituir valores nulos por un string en concreto 
data3["Fecha Venta"]= data3["Fecha Venta"].fillna("2030-06-19 00:00:00")
data3

In [ ]:
#Corroboramos valores nulos 
valores_nulos= data3.isnull().sum()
valores_nulos

In [24]:
#Quinto metodo de sustitucion por valores nulos 
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
data3["Tipo"]= data3["Tipo"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos 
valores_nulos= data3.isnull().sum()
valores_nulos

In [26]:
#Sexto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
#Filtro por columnas
data3["Operación"] =data3["Operación"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [28]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
data3["Provincia"] =data3["Provincia"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [30]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data3["Vendedor"] =data3["Vendedor"].fillna(method="ffill")

In [31]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

In [32]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=data3.isnull().sum().sum()
valores_nulos

0

Metodo de eliminacion de valores nulos

In [33]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [34]:
#Realizamos una copia del dataframe
data4=data2.copy()

In [ ]:
#Eliminamos filas con nulos
data4= data2.dropna(0)
data4

In [36]:
#Identificar valores nulos por columna
valores_nulos=data4.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

Comparamos DataFrame3(sustitucion) y DataFrame(eliminacion)

In [ ]:
data3.info()

In [ ]:
data4.info()

Convertir DataSet sin valores nulos a csv

In [39]:
#Convertir DataFrame a CSV
data3.to_csv("inmuebles_sin_nulos.csv")

In [40]:
#descargar archivo filtrado en csv 
from google.colab import files 

files.download("inmuebles_sin_nulos.csv")